body{
background-color: #0f081a;
}

button{
      outline: none;
}


button:active{
      outline: none;
}

button:focus{
      outline: none;
}

input:focus{
  outline: none;
}

.bg-login{
  height:100%;
  padding: none;
}

.full-height-div-bg-login{
  z-index: 0;
}

.logo-login{
  width: 10em;
}

.titulo-login{
  font-size: 1.9rem;
    margin-block-end: 0.7em;
}

.liu-logo{
  width: 14em;
  margin-top: 3em;
}

.txt-login{
  font-weight: normal;
  font-size: 1.6rem;
}

input[type=email],
input[type=text],
input[type=tel],
input[type=password]{
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 11px 11px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #ff06a7;
	box-sizing: border-box;
	color: #fff;
  margin-bottom: 1em;
}


input[type=email]::placeholder, input[type=text]::placeholder, input[type=tel]::placeholder, input[type=password]::placeholder{
	color: #ffff;
}

input:focus:invalid {
  transition: 0.5s;
  border-bottom: 2px solid;
  border-color: #ce1c1c;
}

input:focus:valid {
  transition: 0.5s;
  border-bottom: 2px solid;
  border-color: #2abb1d;
}

.container2{
	margin-bottom: 0.5em;
  padding-top: 0.8em;
}

.check-box{
  float: left;
}

.esqueceu-senha{
  float: right;
}

@media (max-width: 660px) {
	.check-box{
		margin-left: 4em;
    margin-right: 4em;
		float: none;
	}

	.esqueceu-senha{
		float: none;
	}
}

@media (max-width: 600px){
	.check-box{
		margin-left: 2em;
    margin-right: 2em;
		float: none;
	}
}

@media (max-width: 470px){
	.check-box{
		margin-left: 1em;
    margin-right: 1em;
		float: none;
	}
}


@media (min-width: 1200px){
  .container {
      max-width: 600px;
  }
}

@media (min-width: 992px){
  .container {
      max-width: 600px;
  }
}

.inputs{
  margin-top: 1em;
}


/* buttons */
.button-form {
	float: left;
	width: 100%;
	height: 2.6em;
  border-radius: 5px;
	display: block;
  margin: 8px 0;
	border: #ff06a7 1px solid;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

.button-form :focus {
	outline: none;
}

.container{
  margin-top: 4rem;
  width: 45em;
}

@media (max-width: 576px){
  .container {
      width: 100%;
  }
}

.container .button-form  {
	color: #ff07a7;
	border-color: #ff07a7;
}

/* Ujarak */
.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}

.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff07a7;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak.button--round-s::before {
	border-radius: 2px;
}

.button--ujarak.button--inverted::before {
	background: #ff07a7;
}

.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak:hover {
	color: #ffffff;
	border-color: #ff07a7;
}

.button--ujarak.button--inverted:hover {
	color: #ff07a7;
	border-color: #ff07a7;
}

.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
