body{
    background-color: #0f081a;
    background-image: url("../images/pattern.png");
    background-size: 15em;

    }

button{
      outline: none;
}


button:active{
      outline: none;
}

button:focus{
      outline: none;
}

input:focus{
  outline: none;
}

.caixa-msg {
  clear: both;
    font-family: 'Montserrat', sans-serif;
}

.msg-img img{
  max-width:3em;
}
.msg-img-saida img{
    max-width:3em;
}

@media (max-width: 700px){
  .msg-img img{
    max-width:0em;
  }
  .msg-img-saida img{
      max-width:0em;
  }
}

.msg-img {
  display: inline-block;
}

.msg-img-saida{
  float: right;
}

.msg-recebida {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }

.msg-recebida-w p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 15px;
  margin: 0;
  padding: 15px 15px 15px 15px;
  width: 100%;
}
.data-hora {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.msg-recebida-w {
  width: 57%;
}


.msgs {
  float: left;
  padding: 30px 15px 0px 15px;
  width: 100%;
  height: 45rem;
}
p{
  line-height: 16pt;
}

.msg-enviada p {
  background: #26183e none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 15px;
  margin: 0; color:#fff;
  padding: 15px 15px 15px 15px;
  width:100%;
}
.msg-de-saida{
  overflow:hidden;
  margin:26px 0 26px;
}
.msg-enviada {
  padding: 0 10px 0 0;
  float: right;
  width: 46%;
}


.input-msg{

  border-top: 1px solid #26183e;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 10px 20px 10px;
  margin: 0;
  background-color: #0f081a;
}
.input-msg input {
  background: #26183e;
  border: medium none;
  color: #fff;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  border-radius: 5px;
  float: left;
  padding: 0 0 0 15px;

}

.menssagem {
  padding: 0 0 50px 0;
}

.msg-time-line {
  height:100%;
  overflow-y: auto;
}

.container-input button{
  width: 48px;
  height: 48px;
  background-color: #ff06a7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 2px 0 2px;
}

.container-input button:hover{
  background-color: #921366;
  transition: 0.3s;
}

.container-input button:active{
  transition: 0.3s;
  transform: scale(0.89 );
}


.container-input img{
  width: 100%;
}

.buttons{
  float: right;
}

/* Sobreposição Bootstrap */
@media (max-width: 768px){
  .col-md-auto {
    position: relative;
    width:  4em;
    min-height: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
}




/* scroll time line */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #26183e;
}

::-webkit-scrollbar-thumb {
  background: #ff06a7;
}

::-webkit-scrollbar-thumb:hover {
  background: #921366;
}
