body{
    background-color: #0f081a;
}

.txt-explicativo{
  margin: 2em 0 2em 0;
  line-height: 18pt;
}

textarea{
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 10em;
  overflow: auto;
  resize: none;
  color: #fff;
  border: #ff06a7 2px solid;
  padding: 0.5em;
  background-color: transparent;
}

textarea::placeholder{
  color: #fff;
}

.direitos{
  margin-top:5em;
}

.direitos p{
  margin: 0.5em 0 0 0;
  font-size: 10pt;
  font-weight: 100;
}
