body{
  background-color: #0f081a;
}

.logo-login{
  width: 10em;
}

.titulo-login{
  font-size: 1.9rem;
  margin-block-end: 0.7em;
}

.liu-logo{
  width: 14rem;
  margin-top: 3em;
}

.txt-login{
  line-height: 28pt;
  font-weight: normal;
  font-size: 1.6rem;
}

button{
  outline: none;
}

button:active{
  outline: none;
}

button:focus{
  outline: none;
}

input:focus{
  outline: none;
}

input[type=email], input[type=password] {
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 11px 11px;
  display: inline-block;
  border: 0px solid #ccc;
	box-sizing: border-box;
	color: #fff;
  border-bottom: 2px solid #ff06a7;
  margin-top: 1em;
}

input[type=email]::placeholder, input[type=password]::placeholder{
	color: #fff;
}

input[type=password]{
  margin-bottom: 1em;
}

input:focus:invalid {
  transition: 0.5s;
  border-bottom: 2px solid;
  border-color: #ce1c1c;
}

input:focus:valid {
  transition: 0.5s;
  border-bottom: 2px solid;
  border-color: #2abb1d;
}

.container2{
	margin-bottom: 0.5em;
  padding-top: 0.8em;
}

.check-box{
  float: left;
}

.esqueceu-senha{
  float: right;
}

.esqueceu-senha a{
  font-weight: bold;
  color: #ff06a7;
  text-decoration: none;
}

.esqueceu-senha a:hover{
  text-decoration: none;
  filter: brightness(50%);
}

.cadastre-se a{
  font-weight: bold;
  color: #ff06a7;
  text-decoration: none;
}
.cadastre-se a:hover{
  text-decoration: none;
  filter: brightness(50%);
}

@media (min-width: 1200px){
  .container {
      max-width: 600px;
  }
}

@media (min-width: 992px){
  .container {
      max-width: 600px;
  }
}

.inputs{
  margin-top: 1em;
}


/* buttons */
.buttons{
  margin-top: 2em;

}

.button-form {
	float: left;
	width: 100%;
	height: 2.6em;
  border-radius: 5px;
	display: block;
	border: #ff06a7 1px solid;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  margin: 1em 0 1.5em 0;
}

.button-form :focus {
	outline: none;
}

.container .button-form  {
	color: #ff06a7;
	border-color: #ff06a7;
}

/* Ujarak */
.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff06a7;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak.button--round-s::before {
	border-radius: 2px;
}
.button--ujarak.button--inverted::before {
	background: #ff06a7;
}
.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
	color: #ffffff;
	border-color: #ff06a7;
}
.button--ujarak.button--inverted:hover {
	color: #ff06a7;
	border-color: #ff06a7;
}
.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
