body{
  background-color: #0f081a;
}

.img-bg{
  z-index: -10;
  position: fixed;
  animation: animationBg 16s cubic-bezier(0.4, 0.43, 0.42, 0.45) alternate infinite;
  filter: opacity(30%);
}

@keyframes animationBg {
  0%{
    transform: scale(1.15);
    filter: blur(10%);
  }
  100%{
    transform: scale(1);
    filter: blur(0%);
  }
}

.container{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: none;
  width: 100%;

}

.logo-liu img{
  width:20rem;
  top: -10%;
  position: absolute;
  transform: rotate(-15deg);
  animation: animationLiu 3s alternate ease-in-out infinite;
}


.logo-liu img:hover{
  align-items: center;
  transform: scale(1.25);
  transition:  2s;
}


@keyframes animationLiu {
  0%{
    transform: rotate(-15deg) scale(1);
  }
  50%{
    transform: rotate(5deg) scale(1.3);
  }
  100%{
    transform: rotate(-15deg) scale(1);
  }
}

.titulo-saiba-mais{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 2px 14px rgba(0,0,0,0.8);
  margin-bottom: 0.5em;
}

.paragrafo-saiba-mais{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #fff;
  text-align: justify;
  line-height: 1.5em;
}

@media (max-width: 994px) {
  .logo-liu img {
    width: 14rem;
    top: 20%;
  }
}

@media (max-width: 768px) {
  .logo-liu img {
    position: relative;
    width: 0rem;
    top: 20%;
  }
  .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .text-content {
    padding-left: 3em;
  }
  .titulo-saiba-mais{
    font-size: 1.6em;
  }
}
