@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Mono|Roboto+Mono');

/*

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'PT Mono', monospace;

*/

body{
background-color: black;
}

.navcolor{
  z-index: 10;
  background-color: rgba(8, 7, 20, 0.7);
}

.logo-img{
  width: 4.6rem;
}

.logo-brand{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin-right: 1rem;
  white-space: nowrap;
}

.container {
    margin-bottom: 5em;

}

.container-fluid{
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.navbar-expand-md>.container-fluid{
  padding-right: 0.4em;
  padding-left: 0.4em;
}

.logo-brand:hover{
  text-decoration: none;
  color: #ff06a7;
  filter: brightness(60%);
  transition: 0.3s;
}

html, body {
  height: 100%;
  margin: 0;
}

.full-height-div-bg {
  position: inherit !important;
  z-index: 0;

}

.cover{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: -1px 2px 14px rgba(0,0,0,0.8);

}

canvas{
  z-index: -1 !important;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 600px) {
  canvas{
    transition: 0.3s;
    filter: opacity(40%);
  }
}

.nav-item a{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color: #ff06a7;
}

.nav-item a:hover{
  color: #921366 ;
  transition: 0.3s;
}

.main-class{
  text-align:    center;
  width: 75%;


}

.main-class-index{
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -100%);
  width: 100%;
  height: calc(100% - 90%);
  padding-left: 2em;
  padding-right: 2em;
}

.gradient-bg{
  position: inherit !important;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, #36003100, #36003157, #640b4c47, #310b1e60, #00000060);
}

.btn-index{
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  background: transparent;
}

.btn-index a{
  font-weight: bold;
  font-size: 1.4em;
  color: #ff06a7;

}

.btn-index a:hover{
  font-weight: bold;
  font-size: 1.4em;
  color: #ff06a7;
  text-decoration: none;
  filter: brightness(50%);
}

.left{
float: left;

}

.right{
float: right;
}

.btn-index:hover{
  color: #921366;
  transition: 0.3s;
  text-decoration: none;
}

.h1-index{
  font-size: 2.8em;
  font-weight: normal;
  margin-bottom: 0.2em;
}
.txt-index{
  font-size: 1.2em;
  font-weight: normal;
}

.btns-index{
  margin-top: 1em;
}

@media(max-width: 490px){
  .h1-index {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 0.2em;
  }

  .btn-index{
    margin-bottom: 1em;
  }
}

